form{
	text-align: center;
	font-size: 1.5em;
	background-color: gainsboro;
	border-radius: 0.5em;
	width: 70%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2em;
	padding: 1em;
}

#connexion{
	text-align: center;
	background-color: ghostwhite;
	border-radius: 0.5em;
	width: 70%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2em;
	padding: 1em;
}

button{
	background-color: cornsilk;
	border: none;
	border-radius: 0.5em;
	font-size: 1em;
	margin-top: 1em;
	padding: 0.5em;
}